    <!--Footer-->
    <footer id="landing-footer" class="clearfix">
      <div class="row clearfix">

          <p id="copyright" class="col-2">{{footer.copyrighttext}} <a href="{{footer.developerlink}}">{{footer.developer}}</a></p>

          <!--Social Icons in Footer-->
          <div class="col-2" style="text-align: right;">
                  <app-social></app-social>
          </div>
          <!--End of Social Icons in Footer-->
      </div>
  </footer>
  <!--End of Footer-->
