 <!--Content Section-->
 <div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


      <!--Content Left Side-->

      <!--End Content Left Side-->

      <!--Content of the Right Side-->
      <div class="col-3">
        <div class="section-heading">
            <h3>{{services.tagline}}</h3>
            <h2 class="section-title">{{services.title}}</h2>
            <p class="section-subtitle">{{services.description}}</p>
        </div>

      <!--End Content Right Side-->

      <div class="col-3">
          <img src="../assets/images/dancer.jpg" alt="Dancer"/>
      </div>

  </div>


</div>
<!--End of Content Section-->
