

<header id= "banner" class= " scrollto clearfix " data-enllax=".5">
  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">

      <div class="col-38">

          <div class="section-heading">
              <h1> {{header.heading}} </h1>
              <h2>{{header.headertext}}</h2>
          </div>

          <!--Call to Action-->
          <a href="{{header.buttonlinks}}" class="button">{{header.buttontext}}</a>
          <!--End Call to Action-->

      </div>

  </div><!--End of Row-->

</header>
