 <!--Pricing Tables-->
 <section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

      <div class="section-heading">
          <h3>{{pricing.tagline}}</h3>
          <h2 class="section-title">{{pricing.title}}</h2>
      </div>

      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
          <div class="pricing-block-content">
              <h3>Personal</h3>
              <p class="pricing-sub">The standard version</p>
              <div class="pricing">
                  <div class="price"><span>$</span>19</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
              <ul>
                  <li>5 Downloads</li>
                  <li>2 Extensions</li>
                  <li>Tutorials</li>
                  <li>Forum Support</li>
                  <li>1 year free updates</li>
              </ul>
              <a href="#" class="button">BUY TODAY</a>
          </div>
      </div>
      <!--End Pricing Block-->

      <!--Pricing Block-->
      <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
          <div class="pricing-block-content">
              <h3>Student</h3>
              <p class="pricing-sub">Most popular choice</p>
              <div class="pricing">
                  <div class="price"><span>$</span>29</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
              <ul>
                  <li>15 Downloads</li>
                  <li>5 Extensions</li>
                  <li>Tutorials with Files</li>
                  <li>Forum Support</li>
                  <li>2 years free updates</li>
              </ul>
              <a href="#" class="button">BUY TODAY</a>
          </div>
      </div>
      <!--End Pricing Block-->

      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
          <div class="pricing-block-content">
              <h3>Business</h3>
              <p class="pricing-sub">For the whole team</p>
              <div class="pricing">
                  <div class="price"><span>$</span>49</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
              <ul>
                  <li>Unlimited Downloads</li>
                  <li>Unlimited Extensions</li>
                  <li>HD Video Tutorials</li>
                  <li>Chat Support</li>
                  <li>Lifetime free updates</li>
              </ul>
              <a href="#" class="button">BUY TODAY</a>
          </div>
      </div>
      <!--End Pricing Block-->

  </div>
</section>
<!--End of Pricing Tables-->
